@()

@main("PC") {
    <h1>PC GAMES </h1>
      
    
<!--row 1-->
<div class="row">
    
        <!--column 1-->
        <div class="col-sm-6">
            
                    <div class="container">
                        
                    
                        <div class="card img-fluid" style="width:100%">
                        <img class="card-img-top" src="@routes.Assets.versioned("images/backgroundImage.jpg")" alt="Card image" style="width:100%">
                        <div class="card-img-overlay">
                                <h4><mark class="bg-danger text-white">John Doe</mark></h4>
                            <p class="card-text"> Some example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                        </div>
                    </div>
    
                </div>
        
        
        
        
        <!--colum 2-->
                 <div class="col-sm-6">
                        <div class="container">
                
            
                                <div class="card img-fluid" style="width:100%">
                                  <img class="card-img-top" src="@routes.Assets.versioned("images/backgroundImage.jpg")" alt="Card image" style="width:100%">
                                  <div class="card-img-overlay">
                                        <h4><mark class="bg-danger text-white">John Doe</mark></h4>
                                    <p class="card-text"> Some example text some example text. Some example text some example text.</p>
                                    <a href="#" class="btn btn-primary">See Profile</a>
                                  </div>
                                </div>
                              </div>
    
    
    
                 </div>
      </div>
    
    <hr>

    <h1>PC HARDWARE </h1>
    
    <!--row 2-->
      <div class="row">
    
    
        <!--column1-->
        <div class="col-sm-6">
            
                <div class="container">
                
            
                        <div class="card img-fluid" style="width:100%">
                          <img class="card-img-top" src="@routes.Assets.versioned("images/backgroundImage.jpg")" alt="Card image" style="width:100%">
                          <div class="card-img-overlay">
                                <h4><mark class="bg-danger text-white">John Doe</mark></h4>
                            <p class="card-text">. Some example text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
                        </div>
                      </div>
            
            
            
        </div>
    
    
    
    
           <!--column2-->
    
               <div class="col-sm-6">
                            
    
                    <div class="container">
                
            
                        <div class="card img-fluid" style="width:100%">
                          <img class="card-img-top" src="@routes.Assets.versioned("images/backgroundImage.jpg")" alt="Card image" style="width:100%">
                          <div class="card-img-overlay">
                                <h4><mark class="bg-danger text-white">John Doe</mark></h4>
                            <p class="card-text">ample text some example text. Some example text some example text.</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
                        </div>
                      </div>
    
               </div>
    
    
      </div>
    














    }